.profile__image-container {
  position: relative;
  margin: 0 29px 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  inline-size: 120px;
  block-size: 120px;
}

.profile__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.profile__image-overlay,
.profile__edit-avatar-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  block-size: 100%;
  inline-size: 100%;
}

.profile__image-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.profile__edit-avatar-icon {
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  inline-size: 26px;
  block-size: 26px;
}

.profile__image-container:hover .profile__image-overlay,
.profile__image-container:hover .profile__edit-avatar-icon {
  opacity: 1;
}

@media screen and (max-width: 740px) {
  .profile__image-container {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image-container {
    margin-right: 0;
  }
}
